[submodule "Rust"]
	path = Rust
	url = https://github.com/mooojn/Rust
[submodule "CSharp"]
	path = CSharp
	url = https://github.com/mooojn/CSharp
[submodule "HtmlCss"]
	path = HtmlCss
	url = https://github.com/mooojn/HtmlCss
